# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [24]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomalia_termica_sem_index = pd.Series(data=dados)
anomalia_termica_sem_index

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [26]:

# seu código aqui
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica_com_index = pd.Series(data=dados, index=indice)
anomalia_termica_com_index

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [34]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas_series = pd.Series(data=dic_temperaturas)
dic_temperaturas_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [38]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr_df = pd.DataFrame(data=arr)
arr_df

             0           1           2
0    93.673179   97.985100  102.459807
1   106.648201  112.754772  105.358950
2    97.651509  102.790149   91.635611
3   105.451223   98.464465   99.830307
4    94.166579  102.465344  116.768462
5    93.781763   97.616634   98.324608
6   107.854865   89.296298  109.107196
7    86.654961  100.294692   94.226230
8   108.407566   95.182462  108.214146
9    99.222935   92.197241  101.264358
10   97.795119   95.952633   90.778054
11   95.786729  115.115471  102.928700
12  100.696726  108.764222  104.783346
13   99.742292  113.925484  110.625327
14  126.844791  103.580875  120.093786
15  110.228301   93.859535   75.585564
16   94.793133   97.503964   92.647220
17  114.662583  106.074240   92.492396
18  115.937600   94.645750  120.238954
19  108.437276  109.651127   89.339351

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [50]:
#seu código aqui
indice = list(range(1,21))
colunas = ["x1", "x2", "x3"]
arr_df_indice_colunas = pd.DataFrame(data=arr, index=indice, columns = colunas)
arr_df_indice_colunas

            x1          x2          x3
1    93.673179   97.985100  102.459807
2   106.648201  112.754772  105.358950
3    97.651509  102.790149   91.635611
4   105.451223   98.464465   99.830307
5    94.166579  102.465344  116.768462
6    93.781763   97.616634   98.324608
7   107.854865   89.296298  109.107196
8    86.654961  100.294692   94.226230
9   108.407566   95.182462  108.214146
10   99.222935   92.197241  101.264358
11   97.795119   95.952633   90.778054
12   95.786729  115.115471  102.928700
13  100.696726  108.764222  104.783346
14   99.742292  113.925484  110.625327
15  126.844791  103.580875  120.093786
16  110.228301   93.859535   75.585564
17   94.793133   97.503964   92.647220
18  114.662583  106.074240   92.492396
19  115.937600   94.645750  120.238954
20  108.437276  109.651127   89.339351

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [56]:
# seu código aqui
arr_df_indice_colunas['media'] = (arr_df_indice_colunas['x1'] + arr_df_indice_colunas['x2'] + arr_df_indice_colunas['x3'])/3
arr_df_indice_colunas

            x1          x2          x3       media
1    93.673179   97.985100  102.459807   98.039362
2   106.648201  112.754772  105.358950  108.253974
3    97.651509  102.790149   91.635611   97.359089
4   105.451223   98.464465   99.830307  101.248665
5    94.166579  102.465344  116.768462  104.466795
6    93.781763   97.616634   98.324608   96.574335
7   107.854865   89.296298  109.107196  102.086120
8    86.654961  100.294692   94.226230   93.725294
9   108.407566   95.182462  108.214146  103.934724
10   99.222935   92.197241  101.264358   97.561511
11   97.795119   95.952633   90.778054   94.841935
12   95.786729  115.115471  102.928700  104.610300
13  100.696726  108.764222  104.783346  104.748098
14   99.742292  113.925484  110.625327  108.097701
15  126.844791  103.580875  120.093786  116.839817
16  110.228301   93.859535   75.585564   93.224466
17   94.793133   97.503964   92.647220   94.981439
18  114.662583  106.074240   92.492396  104.409740
19  115.937600   94.645750  120.238954  110.274101
20  108.437276  109.651127   89.339351  102.475918

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [62]:
# seu código aqui
arr_df_indice_colunas['log_media'] = np.log(arr_df_indice_colunas['media'])
arr_df_indice_colunas

            x1          x2          x3       media  log_media
1    93.673179   97.985100  102.459807   98.039362   4.585369
2   106.648201  112.754772  105.358950  108.253974   4.684480
3    97.651509  102.790149   91.635611   97.359089   4.578406
4   105.451223   98.464465   99.830307  101.248665   4.617580
5    94.166579  102.465344  116.768462  104.466795   4.648869
6    93.781763   97.616634   98.324608   96.574335   4.570313
7   107.854865   89.296298  109.107196  102.086120   4.625817
8    86.654961  100.294692   94.226230   93.725294   4.540368
9   108.407566   95.182462  108.214146  103.934724   4.643763
10   99.222935   92.197241  101.264358   97.561511   4.580483
11   97.795119   95.952633   90.778054   94.841935   4.552212
12   95.786729  115.115471  102.928700  104.610300   4.650242
13  100.696726  108.764222  104.783346  104.748098   4.651558
14   99.742292  113.925484  110.625327  108.097701   4.683035
15  126.844791  103.580875  120.093786  116.839817   4.760804
16  110.228301   93.859535   75.585564   93.224466   4.535010
17   94.793133   97.503964   92.647220   94.981439   4.553681
18  114.662583  106.074240   92.492396  104.409740   4.648323
19  115.937600   94.645750  120.238954  110.274101   4.702969
20  108.437276  109.651127   89.339351  102.475918   4.629628